:root{
    user-select: none;
}

body {
    background: #4b2463;
    overflow-y: hidden;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    /* padding: 20%; */
}

button{
    text-decoration: none;
}